Window-blinds-Controller/build/CMakeCache.txt
Window-blinds-Controller/build/.cmake/api/v1/query/client-vscode/query.json
Window-blinds-Controller/build/.cmake/api/v1/reply/*
Window-blinds-Controller/build/CMakeFiles/cmake.check_cache
Window-blinds-Controller/build/CMakeFiles/CMakeConfigureLog.yaml
Window-blinds-Controller/build/CMakeFiles/4.3.1/CMakeCCompiler.cmake
Window-blinds-Controller/build/CMakeFiles/4.3.1/CMakeCXXCompiler.cmake
Window-blinds-Controller/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_C.bin
Window-blinds-Controller/build/CMakeFiles/4.3.1/CMakeDetermineCompilerABI_CXX.bin
Window-blinds-Controller/build/CMakeFiles/4.3.1/CMakeSystem.cmake
Window-blinds-Controller/build/CMakeFiles/4.3.1/CompilerIdC/a.out
Window-blinds-Controller/build/CMakeFiles/4.3.1/CompilerIdC/CMakeCCompilerId.c
Window-blinds-Controller/build/CMakeFiles/4.3.1/CompilerIdCXX/a.out
Window-blinds-Controller/build/CMakeFiles/4.3.1/CompilerIdCXX/CMakeCXXCompilerId.cpp
